$border-color: unquote('#ccc7');
$opacity: .85;

.sumsStatus {
    flex: 0 1 auto;
    margin-top: 1.2em;
    font-family: monospace;
    font-size: 1.3em;
    background-color: white;
    border: solid 1px $border-color;
    border-radius: 5px;
    opacity: $opacity;
    padding: 10px 0px;
  
    display: flex;
    flex-direction: column;
    align-items: center;
  }