$border-color: unquote('#ccc7');
$opacity: .85;

.sumsContainer {
  flex: 1 1 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}
.sumsTable {
  flex: 0 1 auto;
  font-family: monospace;
  font-size: 1.9em;
  background-color: white;
  border: solid 1px $border-color;
  border-radius: 5px;
  opacity: $opacity;
  padding: 10px 50px;
}

.sumsSpacer {
  flex: 1 1 auto;
}


